<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<div class="container">
		<div class="login-form" >
			<h2>Login</h2>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<div class="alert alert-info">
				{% for message in messages %}
				{{ message }}
				{% endfor %}
			</div>
			{% endif %}
			{% endwith %}
			<form method="POST" action="/login">
				<label for="email">Email:</label>
				<input type="email" id="email" name="email">

				<label for="password">Password:</label>
				<input type="password" id="password" name="password">

				<button type="submit">Login</button>
			</form>

			<p>Don't have an account? <a href="{{ url_for('account_setup.signup') }}" style="color:#f3b369">Sign up</a></p>
		</div>
	</div>
</body>
</html>
